.portfolio {
  padding:  0 3rem 0 3rem;;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;

}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}


/* slider */
.portfolio .swiper{
    overflow: visible!important;
}

.portfolio-slider {
  margin-top: 3rem;
  width: 100%;
}

.portfolio-slider .swiper-slide {
  width: 20rem;
}
.portfolio img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}
.project{
  display: flex;
  flex-direction: column;
  max-width: 390px;
}
/* @media screen and (max-width: 480px){
  .portfolio{
    padding:  10rem 3rem 0 3rem;;
  }
} */
@media screen and (max-width: 800px) {
  .portfolio{
    height: auto;
  }
  .swiper-wrapper {
    flex-direction: column;
  }
  .swiper-slide{
    width: 100% !important;
    margin-bottom: 50px;
  }
}
